/*
=============================================
  FONTS
=============================================
*/

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../assets/fonts/BeVietnamPro-Regular.woff2') format('woff2'),
      url('../assets/fonts/BeVietnamPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../assets/fonts/BeVietnamPro-Medium.woff2') format('woff2'),
      url('../assets/fonts/BeVietnamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../assets/fonts/BeVietnamPro-Bold.woff2') format('woff2'),
      url('../assets/fonts/BeVietnamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}





/*
=============================================
  VARIABLES
=============================================
*/

:root {
  /* colors */
  --clr-red-300: hsl(12, 88%, 59%);
  --clr-red-200: hsl(13, 100%, 96%);
  --clr-red-100: hsl(0, 0%, 98%);
  --clr-blue-300: hsl(233, 12%, 13%);
  --clr-blue-200: hsl(228, 39%, 23%);
  --clr-blue-100: hsl(227, 12%, 61%);

  /* font-size */
  --fs-300: calc(40rem / 16);
  --fs-200: calc(32rem / 16);
}

@media screen and (min-width: 70em) {
  :root {
    --fs-300: calc(56rem / 16);
  }
}





/*
=============================================
  CSS RESETS
=============================================
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
  hyphens: auto;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance; /* Tries to make each line of text roughly the same length */
}

p {
  text-wrap: pretty; /* Makes the final line of text have at least two words */
}

@media (prefers-reduced-motions: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}





/*
=============================================
  BASE STYLES
=============================================
*/

body {
  font-family: 'Be Vietnam Pro';
  font-weight: 400;
  color: var(--clr-blue-100);
  background-color: white;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--fs-300);
  color: var(--clr-blue-200);
  line-height: 1.2;
}

h2 {
  font-size: var(--fs-200);
}

:where(h1, h2) {
  font-weight: 700;
}

:focus-visible {
  outline: 2px dashed var(--clr-red-300);
  outline-offset: 2px;
}

.wrapper-1 {
  background-image: url("../assets/images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 60px -150px;
  background-size: 130%;
}

@media screen and (min-width: 44em) {
  .wrapper-1 {
    background-size: 60%;
    background-position: right -200px top -160px;
  }
}





/*
=============================================
  UTILITIES
=============================================
*/

.d-block {
  display: block;
}

.container {
  width: 90%;
  max-width: 1184px;
  margin: 0 auto;
}





/*
=============================================
  COMPONENTS
=============================================
*/

/* menu button */
.menu-btn {
  background-color: transparent;
  border: none;
  display: none;
  position: relative;
  top: -3px;
  z-index: 3;
}

.menu-btn svg rect {
  fill: var(--clr-blue-300);
  transition: y 0.3s 0.3s, opacity 0.2s, transform 0.3s;
  transform-box: fill-box;
  transform-origin: center;
}

.menu-btn[aria-expanded="true"] svg rect {
  transition: y 0.3s, opacity 0.2s, transform 0.3s 0.3s;
}

.menu-btn[aria-expanded="true"] svg rect:first-child {
  y: 43px;
  transform: rotate(-45deg);
}

.menu-btn[aria-expanded="true"] svg rect:nth-child(2) {
  opacity: 0;
}

.menu-btn[aria-expanded="true"] svg rect:last-child {
  y: 43px;
  transform: rotate(45deg);
}

.menu-btn[aria-expanded="true"] + .overlay {
  visibility: visible;
  opacity: 1;
}

.menu-btn[aria-expanded="true"] + .overlay + .nav {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 53em) {
  .menu-btn {
    display: block;
  }
}

/* call to action button */
.cta-btn {
  color: var(--clr-red-100);
  background-color: var(--clr-red-300);
  width: max-content;
  padding: 1rem calc(32rem / 16);
  border-radius: 50px;
  box-shadow: var(--clr-red-300) 0px 10px 10px -10px;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: hsl(12, 88%, 65%);
}

/* navigation */
.nav ul {
  list-style-type: none;
  padding: 0;
  font-size: calc(15rem / 16);
  display: flex;
  align-items: center;
  gap: calc(40rem / 16);
}

.nav a {
  color: var(--clr-blue-200);
  transition: color 0.3s;
}

.nav a:hover {
  color: var(--clr-blue-100);
}

.overlay:has(+ .nav) {
  display: none;
}

@media screen and (max-width: 60em) {
  .nav ul {
    gap: calc(24rem / 16);
  }
}

@media screen and (max-width: 53em) {
  .nav {
    position: fixed;
    background-color: white;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
    margin: 100px auto;
    padding: calc(40rem / 16) 0;
    visibility: hidden;
    opacity: 0;
  }

  .nav ul {
    flex-direction: column;
  }

  .overlay:has(+ .nav) {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 10%, transparent);
    visibility: hidden;
    opacity: 0;
  }

  :is(.nav, .overlay:has(+ .nav)) {
    transition: opacity 0.3s, visibility 0.3s;
  }
}





/*
=============================================
  HEADER
=============================================
*/
.header {
  padding-top: calc(40rem / 16);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 53em) {
  .header .cta-btn {
    display: none;
  }
}





/*
=============================================
  HERO
=============================================
*/

.hero {
  padding: calc(40rem / 16) 0 calc(128rem / 16);
}

.hero__container {
  display: grid;
  place-items: center;
  gap: calc(24rem / 16);
}

.hero__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(32rem / 16);
}

.hero__content h1 {
  margin-bottom: 1rem;
}

@media screen and (min-width: 44em) {
  .hero {
    padding: calc(128rem / 16) 0;
  }
  .hero__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    place-items: stretch start;
    justify-content: space-between;
  }

  .hero__image {
    order: 1;
  }

  .hero__image > img {
    width: 100%;
  }

  .hero__content {
    text-align: left;
    align-items: flex-start;
    gap: calc(40rem / 16);
  }

  .hero__content p {
    max-width: 350px;
  }

  .hero__content h1 {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 70em) {
  .hero__container {
    place-items: center start;
  }
}





/*
=============================================
  ABOUT
=============================================
*/

.about {
  overflow: hidden;
}

.about h2 {
  margin-bottom: 1rem;
}

.about :is(h2, p) {
  text-align: center;
}

.about :is(h2, dt) {
  color: var(--clr-blue-200);
}

.about__intro {
  padding-bottom: calc(56rem / 16);
}

.about dl {
  counter-reset: count;
}

.about dt {
  background-color: var(--clr-red-200);
  padding: 0.5rem 0;
  border-radius: 30px 0 0 30px;
  width: 100vw;
  margin-bottom: 1rem;
  font-weight: 500;
}

.about dd:not(:last-of-type) {
  margin-bottom: calc(40rem / 16);
}

.about dt::before {
  counter-increment: count;
  content: counter(count, decimal-leading-zero);
  color: white;
  background-color: var(--clr-red-300);
  border-radius: 30px;
  padding: 0.5rem calc(24rem / 16);
  margin-right: 10px;
}

@media screen and (min-width: 44em) {
  .about {
    overflow: visible;
  }

  .about dt {
    width: 100%;
    background-color: transparent;
    position: relative;
  }

  .about dt::before {
    position: absolute;
    transform: translate(-130%, -20%);
  }

  .about :is(h2, p) {
    text-align: left;
  }

  .about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: calc(128rem / 16);
  }
}

@media screen and (min-width: 60em) {
  .about__container {
    gap: calc(256rem / 16);
  }
}





/*
=============================================
  TESTIMONIALS
=============================================
*/

.testimonial {
  padding: calc(80rem / 16) 0;
}

.testimonial h2 {
  color: var(--clr-blue-200);
  text-align: center;
}

.testimonial__cta {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: calc(40rem / 16);
}

.swiper-slide {
  padding: 80px 24px 50px;
}

.swiper .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid var(--clr-red-300);
  opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
  background-color: var(--clr-red-300);
}

.card {
  background-color: var(--clr-red-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(24rem / 16);
  padding: calc(24rem / 16);
  height: 290px;
}

.card__avatar {
  width: 80px;
  height: 80px;
  margin-top: -60px;
}

.card__name {
  font-weight: 500;
  color: var(--clr-blue-200);
  font-size: 1rem;
}

.card__testimony {
  text-align: center;
}

@media screen and (min-width: 50em) {
  .swiper-slide {
    padding: 80px 12px 0;
  }

  .swiper-pagination {
    display: none;
  }
}
