@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../assets/fonts/BeVietnamPro-Regular.woff2') format('woff2'),
      url('../assets/fonts/BeVietnamPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../assets/fonts/BeVietnamPro-Medium.woff2') format('woff2'),
      url('../assets/fonts/BeVietnamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../assets/fonts/BeVietnamPro-Bold.woff2') format('woff2'),
      url('../assets/fonts/BeVietnamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Be Vietnam Pro';
  font-weight: 400;
}